@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.link {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.link-light {
  color: #fff;
}

.arrow {
  margin-left: 8px;
  width: 12px;
  color: #000;
}

.arrow-light {
  color: #fff;
}

button,
.router-button {
  transition: 500ms ease all;
  cursor: pointer;
  margin-top: 24px;
  padding: 12px 24px;
  background-color: #303030;
  color: #fff;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
}

button:focus,
.router-button:focus {
  outline: none;
}

button:hover,
.router-button:hover {
  background-color: rgba(48, 48, 48, 0.7);
}

.button-ghost {
  color: #000;
  padding: 0;
  border-radius: 0;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
}

.button-ghost i {
  margin-left: 8px;
}

.button-light {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.button-inactive {
  pointer-events: none !important;
  cursor: none !important;
  background-color: rgba(128, 128, 128, 0.5) !important;
}

.blog-card-wrap {
  position: relative;
  padding: 80px 16px;
  background-color: #f1f1f1;
}

.blog-cards {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
}

.form-wrap {
  overflow: hidden;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  width: 90%;
}

.login-register {
  margin-bottom: 32px;
}

.login-register router-link {
  color: #000;
}

.form-wrap form {
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.form-wrap h2 {
  text-align: center;
  font-size: 32px;
  color: #303030;
  margin-bottom: 40px;
}

.inputs {
  width: 100%;
  max-width: 350px;
}

.input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  font-size: 18px;
}

.input input {
  width: 100%;
  font-size: 18px;
  border: none;
  background-color: #f2f7f6;
  padding: 4px 4px 4px 30px;
  height: 50px;
}

.input input:focus {
  outline: none;
}

.input .icon {
  width: 12px;
  position: absolute;
  left: 6px;
}

.forgot-password {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  margin: 16px 0 32px;
  border-bottom: 1px solid transparent;
  transition: 0.5s ease all;
}

.forgot-password:hover {
  border-color: #303030;
}

.angle {
  display: none;
  position: absolute;
  background-color: #fff;
  transform: rotateZ(3deg);
  width: 60px;
  right: -30px;
  height: 101%;
}

.background {
  display: none;
  flex: 2;
  background-size: cover;
  background-image: url("~@/assets/background.png");
  width: 100%;
  height: 100%;
}

.error {
  text-align: center;
  font-size: 14px;
  color: red;
}

@media (min-width: 500px) {
  .blog-card-wrap {
    padding: 100px 120px;
  }

  .blog-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  .button-ghost {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (min-width: 900px) {
  .blog-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .form-wrap {
    width: 100%;
  }

  .form-wrap form {
    padding: 0 50px;
  }

  .form-wrap h2 {
    font-size: 40px;
  }

  .angle {
    display: initial;
  }

  .background {
    display: initial;
  }
}

@media (min-width: 1200px) {
  .blog-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
